

@if (loading()) {
<p>⏳ Chargement…</p>
} @else if (error()) {
<p class="error">❌ {{ error() }}</p>
} @else {
<div class="grille">
    @for (c of characters(); track c.id) {
    <article>
        <div class="name-favorite">
            <h3>{{ c.name }}</h3>
            <button (click)="favoris.toggle(c)">
                {{ favoris.isFavori(c.id) ? '⭐' : '☆' }}
            </button>
        </div>
        <a routerLink="/characters/{{c.id}}">
            <img src="{{ c.image }}" alt="character_picture">
        </a>
        <div class="div-lieux">
            <p>Location</p>
            <a routerLink="/locations/{{c.location.id}}">{{ c.location.name }}</a>
        </div>
        <p>Origin: {{ c.origin.name }}</p>
    </article>
    } @empty {
    <p>There are no characters</p>
    }
</div>
<div class="pagination">
    @if (pageCourante() != 1) {
    <button (click)="prevPage()">Previous Page</button>
    }
    <p>{{ pageCourante() }} / {{ pageMax }}</p>
    <button (click)="nextPage()">Next Page</button>
</div>
}