.grille {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 40px;

    article {
        padding: 15px;
        border: 0.5px solid gray;
        border-radius: 20px;
        padding: 10px 20px;

        &:hover {
            transform: translateY(-4px);
            box-shadow: 3px 3px 3px lightgray;
        }
    }
}

h1 {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination {
    display: flex;
    gap: 10px;
    align-items: anchor-center;
    justify-content: center;

    button {
        height: 60%;
    }
}

.name-favorite {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        width: 30px;
        height: 30px;
    }
}